body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

main{
    width: 100%;
    height: 100%;
}

section div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom :50px;
}

section div ul{
    padding: 15px;
    margin: auto;
    background-color: white;
    text-align: center;
    justify-content: space-between;
    width: 150px;
    height: 250px;

}

section div ul li img {
    width: 100%;
    height:80%;
}

div.liste_snacks{
    margin-bottom: 100px;
}

.categorie {
    padding: 10px;
    background-color: #15AABF;
    margin: 5px;
}