main{
    background-color: #E2F6F0;
}

section.banniere_accueil{
    width: 95%;
    height: 300px;
    background-image: url(../img/bg.jpg);
    margin:auto;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
}


section.banniere_accueil .phrase_bienvenue h1{
    font-size: 30px;
    padding: 20px;
    font-family: medium, sans-serif;
    background-color: rgba(0, 0, 0, .6);
    color:#E2F6F0;
    border-radius: 10px;
    align-self: center;
    margin:auto;
    text-align: center;
}


section h4{
    background-color: #15AABF;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 95%;
    color:#E2F6F0;
    font-size: 18px;
    margin-bottom: 20px;
}

section{
    margin-bottom: 40px;
}

section div{
    width: 100%;
    display: flex;
}
section div ul{
    padding: 15px;
    margin: auto;
    background-color: white;
    text-align: center;
    width: 150px;
    height: 200px;

}

section div ul li img {
    width: 100%;
    height:auto;
}

div.liste_produits_nouveautes{
    margin: auto;
}

.description{
    background-color: white;
    color: #000;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
}

.prix{
    color: #15AABF;
}

