.banniere_accueil {
    justify-content: center;
}

h4.produits_nouveautes{
    background-color: #15AABF;
    padding: 10%
    border: radius 20px;
}

h4.produits_nouveautes{
    background-color: #15AABF;
    padding: 10%
    border: radius 20px;
}

h4.bde_presentation{
    background-color: #15AABF;
    padding: 10%
    border: radius 20px;
}