body{
    background-color: #E2F6F0;
}

h1{
    text-align: center;
    margin: auto;
}



input[value="Rechercher"]{
    padding: 5px;
    background-color: #15AABF;
    color:white;
    margin: 8px;
    border-radius: 5px;
    border: none;
}

input[value="Rechercher"]:hover{
    background-color: black;
}

p.barre_recherche{
    width: 30%;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin: 20px auto;
}
p.barre_recherche input{
    background-color: inherit;
    width: 100%;
    margin: auto;
}

input.search-by{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

.search-by:focus{
    background-color: white;
}
.init-recherche a{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: red;
    text-decoration: none;
}
.init-recherche a:hover{
    background-color: black;
}

.tabeau-produit{
    margin:auto 10px;
    border-radius: 5px;
}

.tabeau-produit table th{
    background-color: #15AABF;
    color: white;
}

.creer_produit{
    margin: 20px;
}

.creer_produit a{
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #12B886;
    text-decoration: none;
}
.creer_produit a:hover{
    background-color: black;
}

.centrer{
    margin: auto;
    display: flex;
    width: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input{
    border:none;
}


