.connexion{
	background: #D9D9D9;
	margin: auto;
	width:70%;
	height: auto;
	display: block;
	padding: 20px;

}

.connexion .se_connecter{
	margin: auto;
}

.connexion .se_connecter h1{
	text-align: center;
	margin: auto;
}

.formulaire {
	width: 100%;
	margin: auto;
}
label, p, a{
	font-size: 16px;
}
p a{
	text-decoration: none;
	color: #15AABF;
	margin: auto;
}
p a:hover{
	text-decoration: underline;
}

input {
  width: 50%;
}

button[type="submit"]{
	margin: auto;
	text-align: center;
	background-color: #12B886;
	width: 50%;
	color: #ffff;
	border: none;
	border-radius: 5px;
}

button[type="submit"]:hover{
	background-color: #000;
}