.connexion{
	background: #D9D9D9;
	margin: auto;
	width:90;
	height: auto;
	display: block;

}

.connexion .se_connecter{
	margin: auto;
}

.connexion .se_connecter h1{
	text-align: center;
	margin: auto;
}

div form {
	margin: auto;
}
p a{
	text-decoration: none;
	color: #15AABF;
}
p a:hover{
	text-decoration: underline;
}

#adresse_mail, #mot_de_passe{
	width: 500px;
}