h1{
    text-align: center;
  }

main form{
    margin:50px auto;
    width: 95%;
    border-radius: 5px;
    padding: 40px;
    background-color: #DEE2E6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

input[type="submit"]{
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #12B886;
    border: none;
}

input[type="submit"]:hover{
    background-color: black;
}

span{
    font-weight: bold;
}

input{
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}