body{
    margin: 0;
}
.accueil_header{
    width: 100%;
    height: 80px;
    background-color: #15AABF;
}

.accueil_header .accueil_nav{
    display: flex;
}
.accueil_header .accueil_nav .logo_bde{
    position: relative;
    top: 5px;
    left: 85%;
    border-radius: 50%;
}
.accueil_header .accueil_nav ul{
    display: inherit;

}

.accueil_header .accueil_nav ul li {
    list-style: none;
    margin-top: 12px;
    position: relative;
    left: 57%;
    padding-right: 20px;

}

.accueil_header .accueil_nav ul li a{
    text-decoration: none;
    color: #EAE3E5;
    padding: 30px;
    font-family: medium, sans-serif;
    font-weight: 500;
    text-align: center;

}
.accueil_header .accueil_nav ul li a:hover{
    color: #fff;
    border-bottom: 1px solid white;
}
.accueil_header .accueil_nav ul li a[title="Se connecter / S'inscrire"]{
    background-color: #12B886;
    border-radius: 5px;
    padding: 15px 10px;
}


button.changer_langues{
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
}
main{
    background-color: #E2F6F0;
    margin: 8px;
}

section.banniere_accueil{
    width: 95%;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 20px;

}
section.banniere_accueil .phrase_bienvenue{
    position: relative;
    top: 40%;
    margin-left: 25%;
}

section.banniere_accueil .phrase_bienvenue h1{
    font-size: 30px;
    padding: 20px 10px;
    font-family: medium, sans-serif;
}

.contenu_footer{
  width: 100%;
  height : 160px
  display: table;
  background-color: #15AABF;
}
