body{
    width: 100%;
    background-color: #E2F6F0;
}

main{
    width: 100%;
    height: 80%;
}

section div{
    width: 80%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
}

section div ul{
    padding: 15px;
    margin: auto;
    background-color: white;
    text-align: center;
    width: 150px;
    height: 200px;

}

section div ul li img {
    width: 100%;
    height:auto;
}

div.liste_snacks{
    margin: 100px;
}