body{
    width: 100%;
    background-color: #E2F6F0;
}

section div{
    width: 100%;
    display: flex;
}
section div ul{
    padding: 15px;
    margin: auto;
    background-color: white;
    text-align: center;
    width: 150px;
    height: 200px;

}

section div ul li img {
    width: 100%;
    height:auto;
}

div.liste_snacks{
    margin: 50%;
}